body,html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #1ed760;
}
*
{
    color: #000000;
}
.topBar
{
    width: 100%;
    height: 45px;
    background-color: #191414;
    margin: 0 0 10px 0;
    min-width: 1050px;
    display: flex;
    position: relative;
}
.logo
{
    margin-left: 10px;
    position: relative;
    top: 8px;
    
}
.topBar .logo  a
{
    color: #1ed760;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    text-decoration: none;
    
}
nav
{
    position: absolute;
    right: 11px;
    margin-top: 8px;
}

nav a img
{
    width: 25px;
    margin: 1px;
}

nav a.user_first_name
{
    text-decoration: none;
    margin-right: 2px;
    color: #1ed760;
}

.wrapper
{
    width: 75%;
    min-width: 950px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.user_details
{
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    width: 320px;
    border-radius: 10px;
    display: inline-block;
    -webkit-box-shadow: 3px 2px 9px 0px rgba(46,74,117,0.79);
    -moz-box-shadow: 3px 2px 9px 0px rgba(46,74,117,0.79);
    box-shadow: 3px 2px 9px 0px rgba(46,74,117,0.79);
}

.user_details a img
{
    width: 150px;
    float: left;
}

.user_details_left_right::after
{
    content: " ";
    display: block;
    clear: both;
    
}

.likeAndPost
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}
.likeAndPost a
{
    text-decoration: none;
    color: #000000;
}

.main_column
{
    width: 65%;
    background-color: white;
    position: absolute;
    top: 2px;
    right: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 2px 9px 0px rgba(46,74,117,0.79);
    -moz-box-shadow: 3px 2px 9px 0px rgba(46,74,117,0.79);
    box-shadow: 3px 2px 9px 0px rgba(46,74,117,0.79);
}

.main_column textarea
{
    margin: 20px 20px;
    width: 80%;
    height: 100px;
    float: left;
}

.main_column input[name="post_button"]
{
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 20px 20px;
    background-color: #1ed760;
    border: 0;
    border-radius: 5px;
    
}

div.form 
{
    border-bottom: 1px solid #a6b1b7;
}
div.form::after
{
    content: " ";
    display: block;
    clear: both;
}